/******* Change Box Model **********/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Wrapper Div Container */
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Start Header */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.siteName a,
#tools a {
  text-decoration: none;
  color: #000000;
}

.siteName a {
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

#tools {
  padding-bottom: 2rem;
}

#tools a {
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
}
/* End Header */

/* Start Nav */
.navigation {
  background: #000000;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation li, .navigation a {
  padding: .5rem 0;
  color: #ffffff;
  cursor: pointer;
}

.navigation a {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 2.5rem);
}

.navigation li a:hover {
  background: #808080;
}
/* End Nav */

h1, h3, h4 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  font-weight: bold;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 1rem;
}

.hero-img, .hero-cta-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-cta-img {
  width: 80px;
  height: 40px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  color:cornflowerblue;
  background-color: rgba(255, 255, 255, 0.9);
}

.hero-content ul {
  margin: -1rem 0 0;
  padding: 0;
  list-style: none;
}

.hero-content li {
  text-decoration: none;
  font-size: .8em;
  font-weight: 800;
}
/* End Hero Section */

/* Start Reviews Section */

.reviews li {
  margin-bottom: 0.5rem;
}
/* End Reviews Section*/

/* Start Upgrades Section */
.upgrades {
  margin-bottom: -1rem;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrade-item {
  background-color:cornflowerblue;
  text-align: center;
  margin: 0 0.2rem 2rem;
}

.upgrade-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0.5rem;
  padding: 0.5rem 1rem;
}

.upgrade-item figcaption {
  font-size: .8em;
  font-weight: bold;
  background-color: #ffffff;
}
/* End Upgrades Section */

/* Start Footer */
footer {
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  margin-bottom: 1.5rem;
}

footer .copyright {
  margin-bottom: 0;
}

/* Start classification Grid view */
/* Inventory Display Grid */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0;
  margin: 1rem;
  list-style: none;

  & li {
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    
    & img {
      width: 100%;
      height: auto;
      display: block;
      overflow: hidden;
      border-radius: 12px 12px 0 0;
      margin-bottom: -1rem;
    }

    .namePrice {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
  }
}
/* End classification Grid view */

/* Start of Vehicle Detail View */
/* Vehicle Detail View Styling */
.vehicle-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
}

.vehicle-image {
  flex: 1 1 40%;
  max-width: 350px;
  border-radius: 12px; 
}

.vehicle-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.vehicle-info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

.vehicle-info p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #555;
}

.vehicle-info .price, .vehicle-info .color {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  background-color: #f9f9f9;
  padding: 1rem;
}

.vehicle-info .description, .vehicle-info .mileage {
  padding-left: 1rem;
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

/* Start of Vehicle Detail View*/

/* END MOBILE SCREEN SIZES */

/* START TABLET SCREEN SIZE */
@media screen and (min-width: 768px) {
  h1 {
  font-size: 1.7em;
}

.hero {
  padding-left: 8rem;
}

.hero-img {
  max-width: 500px;
}

.hero-content {
  top: 12%;
  left: 12%;
  padding: 0;
  font-size: 1.2em;
}

.hero-cta-img {
  width: 110px;
  height: 45px;
  margin-top: 1rem;
}

.review-upgrade-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
  
.upgrades {
  grid-column: 1/2;
  grid-row: 1;
}

.reviews {
    grid-column: 2/3;
    grid-row: 1;
}
    
.reviews h3 {
      padding-left: 1.5rem;
    }

.reviews li {
      margin-bottom: 1.6rem;
  }
  
  body {
    border: 3px solid cornflowerblue;
    margin: 0;
    border-radius: 8px;
  }

/* Start classification Grid view */
#inv-display {
  grid-template-columns: repeat(3, 1fr);
}

/* End classification Grid view */
}
/* END TABLET SCREEN SIZE */


/* START LAPTOP SCREEN SIZE */
@media screen and (min-width: 1024px) {
  body {
    margin: 0 7rem;
  }
}

/* END LAPTOP SCREEN SIZE */